/* .widgets {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autorizador-widget {
  cursor: pointer;
  margin-bottom: 15px;
}

.autorizador-widget :hover {
  border-color: #0c9abe;
}

.autorizador-widget .po-widget .po-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.autorizador-widget-text {
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #0c9abe;
}

.autorizador-widget-text-descricao {
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  color: #5e6061;
  font-size: 15px;
} */

.my-div {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 60%;
  border-color: 1px solid #c686ff;
  background-clip: border-box;
  position: relative; 
  top: 38%; transform: 
  translateY(-38%);
  box-shadow: 0 0 10px #aeacaf;
}

.my-title {
  color: #0c9abe;;
}

.my-description {
  color: #5e6061;
  font-size: 15px;
}

.my-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
}

.my-title,
.my-description {
  margin: 0;
  padding: 0;
}

.my-div:hover {
  background-color: rgb(206, 235, 243);
  transition:  0.2s ease-in-out;

}