<po-page-default [p-title]="menuItemSelected">
      <!-- Monta os cards de ajudar ou ser ajudado -->
      <div class="po-sm-5 po-md-5 po-lg-5 po-xl-5 my-div" (click)="redirectToText()">
        <div class="po-font-subtitle po-text-center my-title">
            Quero ajudar
        </div>
        <div class="po-font-subtitle po-text-center my-description">
            Ajude a fazer a diferença no dia de alguém!
        </div>
      </div>

      <div class="po-sm-5 po-md-5 po-lg-5 po-xl-5 my-div" (click)="redirectToAjuda()">
        <div class="po-font-subtitle po-text-center my-title">
            Quero ser ajudado
        </div>
        <div class="po-font-subtitle po-text-center my-description">
            Preciso desabafar!
        </div>
      </div>
</po-page-default>
