<po-page-default [p-title]="menuItemSelected">
  <po-accordion> 
    <po-accordion-item p-label="Todos têm acesso à identidade de quem manda a mensagem?">
        Não. Os demais usuários terão acesso à sua identidade somente se você quiser e se sentir confortável para isso. <br>
        Caso contrário, é só assinalar a opção "Quero anonimato" ao enviar uma mensagem ou ao responder a mensagem de alguém.
    </po-accordion-item>
    <po-accordion-item p-label="Posso compartilhar mais de uma mensagem?">
      Sim, nossa plataforma permite compartilhar quantas histórias quiser, recebendo assim todo o apoio da comunidade quando precisar!
    </po-accordion-item>
    <po-accordion-item p-label="Existe alguma restrição de idade para usar o aplicativo?">
      Não, o aplicativo é aberto ao público de todas as idades, proporcionando um espaço inclusivo para compartilhar suas histórias e encontrar apoio.
    </po-accordion-item>
    <po-accordion-item p-label="Como entrar em contato com o suporte em caso de problemas técnicos ou dúvidas? ">
      Para assistência técnica ou dúvidas, envie-nos um e-mail em compartilheumsorriso@gmail.com. O nosso prazo de resposta é de até 7 dias.
    </po-accordion-item>
  </po-accordion>
</po-page-default>