.btn {
    margin-top: 0.5%;
}

.widgets {
    padding: 2%;
    width: 70em;
}

.content {
    padding: 2%;
}

.btn {
    padding: 0 2% 2%; 
}

.textArea {
    margin-top: 2%;
}

.checkbox {
    margin-top: 1%;
}